body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0fdfd;
}

header {
    background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 80px 20px;
    text-align: center;
}

h1 {
    font-size: 48px;
    margin: 0;
}

nav {
    background-color: #008080;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.seccion {
    padding: 40px 20px;
    text-align: center;
}

.destinos {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    border-radius: 8px;
    width: 250px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

footer {
    background-color: #006666;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}